*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: rgb(236, 236, 236); */
    overflow-x: hidden;
}

/* NAV */
nav{    
    border-bottom: 1px solid black;
    /* max-width: 1000px; */
    margin: 0 auto;
    display: flex;
    background-color: #Fff;
    justify-content: space-around;    
    align-items: center;
    padding: 12px 100px;
    font-family: 'comic sans ms', Arial, Helvetica, sans-serif;
    position: sticky;
    position: -webkit-sticky;
    /* position: relative; */
    top: 0;    
}

.logo a{
    display: block;    
    font-size: 2rem;    
    text-decoration: none;
    letter-spacing: 1.8px;
    color: #27496D;
}

.menu{
    display: flex;
    list-style: none;    
    width: 60%;
    justify-content: space-around;   
    /* background-color: #C86B85;      */
}

.menu li a{
    display: block;    
    padding: 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: #27496D;
}

.menu li a:hover{
    text-decoration: underline;
    color: #0C7B93;
}

.btn-sign{    
    background-color: #3D84A8;    
    border: none;
    border-radius: 15px;
    height: 100%;
    padding: 0 10px;
    text-transform: capitalize;
    font-weight: bold;
    color: #fff;      
}

.btn-sign:hover{
    cursor: pointer;
    background-color: #DF7861;    
}

.hamburger{
    height: 30px;
    width: 30px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    display: none;
    z-index: 3;    
}

.hamburger > span{
    display: block;
    height: 4px;
    width: 100%;
    background-color: #583838;
    border-radius: 10px;
    transition: all .3s;
}

.hamburger span:nth-child(1){
    transform-origin: 0 0;
}

.hamburger span:nth-child(3){
    transform-origin: 0 0;
}

.hamburger.active span:nth-child(1){
    transform: rotate(45deg) translate(4px, -4px);    
}

.hamburger.active span:nth-child(2){
    transform: scale(0);
}

.hamburger.active span:nth-child(3){
    transform: rotate(-45deg) translate(1px, 3px);    
}



/* Container */
.container{    
    max-width: 1000px;
    margin: auto;
    display: grid;    
    gap: 50px;
}

/* HEADER */
.header{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    font-family: "comic sans ms", Arial, Helvetica, sans-serif;
}

.header img{
    width: 100%;    ;
}

.header .desc-menu{    
    padding-top: 50px;
}

.desc-menu .hastag{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1rem;
    color: #6C00FF;
}

.desc-menu .hastag span{
    color: #DF7861;
}

.desc-menu .title{
    text-transform: capitalize;
    margin-bottom: 15px;
    font-size: 1.8rem;
    color: #6C00FF;
}

.desc-menu .title-desc{
    font-size: .8rem;    
    max-width: 300px;
    line-height: 1rem;    
    margin-bottom: 10px;
}

.desc-menu .btn-learn{
    padding: 10px;
    background-color: #B1B2FF;
    border-radius: 15px;
    border: none;
    text-transform: capitalize;
    font-weight: bold;
    color: #fff;
}

.desc-menu .btn-learn:hover{
    cursor: pointer;
    background-color:#C86B85;
}

/* Courses */
.courses{    
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        font-family: "comic sans ms", Arial, Helvetica, sans-serif;                    
}

.courses .img-menu{
    order: 2;
}

.courses .desc-menu{
    order: 1;
    padding-top: 80px;
    text-align: center;
    text-align: right;
}

.courses .title-desc{        
    max-width: unset;
    width: 100%;    
}

/* tutors */
.tutors{    
    display: flex;
    flex-direction: column;    
    gap: 15px;
    text-align: center;
}

.sub-title{
    font-size: 1rem;
    text-transform: capitalize;
}

.tutors .desc{
    font-size: .9rem;
}

.tutors .title{
    font-size: 2rem;    
    font-family: 'comic sans ms', Arial, Helvetica, sans-serif;    
}

.list-tutors{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));    
    gap: 15px;
    justify-items: center;
}

.list-tutors img{
    width: 100%;
    /* border-radius: 50%;     */
}


.img-wrap{    
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #C86B85;
}

.tutor-card .name-tutor{
    font-size: 1.5rem;
    text-align: center;    
    padding: 10px;
}





@media screen and (max-width: 1024px) {

    nav{            
        /* justify-content: space-around;     */
        /* align-items: center; */
        padding: 12px 0;        
    }

    .menu{        
        width: 60%;                
        justify-content: center;
    }
    

    .logo a{        
        font-size: 1.5rem;            
    }
    
}

@media screen and (max-width: 768px) {

    .menu{
        background-color: #0C7B93;
        position: absolute;
        bottom: 0;
        right: 0;
        top: 100%;
        /* left: 0; */
        height: 488px;        
        width: 50%;        
        flex-direction: column;
        justify-content: center;                
        gap: 20px;
        text-align: center;       
        overflow: auto;
        transform: translateX(100%);
        transition: all .3s;
    }

    .menu.open {
        transform: translateX(0%);
    }

    .menu li a{
        /* background-color: lightblue; */        
        color: #fff;
    }

    .menu li a:hover{
        color: rgb(42, 67, 112);
    }

    .btn-sign{        
        height: auto;
        padding: 14px;
        
    }

    .hamburger{
        display: flex;
    }
    

    .header{        
        grid-template-columns: 1fr;               
        text-align: center;
    }

    .header img{
        width: 60%;    ;
    }
    

    .header img-menu{
        background-color: #27496D;
    }

    .header .desc-menu{                
        padding: 0;
        display: flex;        
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .courses{    
        display: grid;
        grid-template-columns: 1fr;             
    }

    .courses .img-menu{
        order: 1;
        text-align: center;    
    }

    .courses img{
        width: 80%;
    }

    .courses .desc-menu{
        order: 2;
        padding-top: 80px;
        text-align: center;
        padding: 0 10px;
    }

    .courses .title-desc{        
        max-width: unset;
        width: 100%;    
    }
    
}

@media screen and (max-width: 600px) {
    .desc-menu .hastag{
        font-size: .9em;
        margin-bottom: 10px;
    }

    .desc-menu .title{
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .desc-menu .title-desc{
        font-size: .7em;
    }
}
